<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Game Room</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container text-center">
        <div>
            <p>
                <b>PUNKTACJA</b>
            </p>
        </div>
        <div>
            <h1>List of Questions</h1>
        </div>

        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>GIT</th>
                        <th>Kolekcje</th>
                        <th>Wątki</th>
                        <th>Podstawowy java</th>
                        <th>Category 5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a th:text="${question1.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question1.id}"></a></td>
                        <td><a th:text="${question6.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question6.id}"></a></td>
                        <td ><a th:text="${question11.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question11.id}"></a></td>
                        <td ><a th:text="${question16.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question16.id}"></a></td>
                        <td ><a th:text="${question21.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question21.id}"></a></td>
                    </tr>
                    <tr>
                        <td ><a th:text="${question2.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question2.id}"></a></td>
                        <td ><a th:text="${question7.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question7.id}"></a></td>
                        <td ><a th:text="${question12.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question12.id}"></a></td>
                        <td ><a th:text="${question17.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question17.id}"></a></td>
                        <td ><a th:text="${question22.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question22.id}"></a></td>
                    </tr>
                    <tr>
                        <td ><a th:text="${question3.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question3.id}"></a></td>
                        <td ><a th:text="${question8.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question8.id}"></a></td>
                        <td ><a th:text="${question13.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question13.id}"></a></td>
                        <td ><a th:text="${question18.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question18.id}"></a></td>
                        <td ><a th:text="${question23.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question23.id}"></a></td>
                    </tr>
                    <tr>
                        <td ><a th:text="${question4.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question4.id}"></a></td>
                        <td ><a th:text="${question9.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question9.id}"></a></td>
                        <td ><a th:text="${question14.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question14.id}"></a></td>
                        <td ><a th:text="${question19.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question19.id}"></a></td>
                        <td ><a th:text="${question24.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question24.id}"></a></td>
                    </tr>
                    <tr>
                        <td><a th:text="${question5.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question5.id}"></a></td>
                        <td ><a th:text="${question10.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question10.id}"></a></td>
                        <td ><a th:text="${question15.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question15.id}"></a></td>
                        <td ><a th:text="${question20.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question20.id}"></a></td>
                        <td ><a th:text="${question25.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question25.id}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>