<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Game Room</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style> 
        .question-disable{
            pointer-events:none;
            color:gray;
        }
        #body1{margin-top: 100px;
        margin-bottom: 100px;
        background-image: linear-gradient(to right, orange, yellow);
        text-align: center;
        }
        #t1{
        background-image: linear-gradient(to right, rgb(237, 234, 227), rgb(243, 243, 152));
        }
    </style>
</head>

<body id="body1">
    <div class="container text-center">
        <div>
            <p>
                <b th:text="'PUNKTACJA: '+${currentPlayerPoints}"> </b>
            </p>
        </div>
        <div>
            <h1>List of Questions</h1>
        </div>

        <div id="t1">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>GIT</th>
                        <th>Kolekcje</th>
                        <th>Wątki</th>
                        <th>Podstawowy java</th>
                        <th>Category 5</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
        
                        <td><a th:text="${question1.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question1.id}" th:class="${cacheActive1?'':'question-disable'}"></a></td>
                        <td><a th:text="${question6.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question6.id}" th:class="${cacheActive6?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question11.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question11.id}" th:class="${cacheActive11?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question16.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question16.id}" th:class="${cacheActive16?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question21.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question21.id}" th:class="${cacheActive21?'':'question-disable'}"></a></td>
                    </tr>
                    <tr>
                        <td ><a th:text="${question2.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question2.id}" th:class="${cacheActive2?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question7.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question7.id}" th:class="${cacheActive7?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question12.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question12.id}" th:class="${cacheActive12?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question17.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question17.id}" th:class="${cacheActive17?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question22.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question22.id}" th:class="${cacheActive22?'':'question-disable'}"></a></td>
                    </tr>
                    <tr>
                        <td ><a th:text="${question3.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question3.id}" th:class="${cacheActive3?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question8.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question8.id}" th:class="${cacheActive8?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question13.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question13.id}" th:class="${cacheActive13?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question18.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question18.id}" th:class="${cacheActive18?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question23.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question23.id}" th:class="${cacheActive23?'':'question-disable'}"></a></td>
                    </tr>
                    <tr>
                        <td ><a th:text="${question4.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question4.id}" th:class="${cacheActive4?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question9.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question9.id}" th:class="${cacheActive9?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question14.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question14.id}" th:class="${cacheActive14?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question19.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question19.id}" th:class="${cacheActive19?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question24.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question24.id}" th:class="${cacheActive24?'':'question-disable'}"></a></td>
                    </tr>
                    <tr>
                        <td><a th:text="${question5.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question5.id}" th:class="${cacheActive5?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question10.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question10.id}" th:class="${cacheActive10?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question15.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question15.id}" th:class="${cacheActive15?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question20.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question20.id}" th:class="${cacheActive20?'':'question-disable'}"></a></td>
                        <td ><a th:text="${question25.priceCategory}" th:href="@{/question/}+${room.id}+'/'+${question25.id}" th:class="${cacheActive25?'':'question-disable'}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>