<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Rooms</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style> 
        .question-disable{
            pointer-events:none;
            color:gray;
        }
        #body1{margin-top: 100px;
        margin-bottom: 100px;
        background-image: linear-gradient(to right, orange, yellow);
        text-align: center;
        }
        #t1{
        background-image: linear-gradient(to right, rgb(237, 234, 227), rgb(243, 243, 152));
        }
       
    </style>
</head>
<body id="body1">
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
            <h3><a th:href="@{/create_room}">Create Room</a></h3>
        </form>
    </div>
    <div>
        <h1>List of Rooms</h1>
    </div>
     
    <div id="t1">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Room</th>
                    <th>Owner</th>
                    <th>Competitor</th>
                    <th>Action</th>
                    <th>Owner Points</th>
                    <th>Competitor Points</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="room,stat: ${listRooms}">
                    <!-- for each pentla = th:each-->
                    <td th:text="${room.id}">Room</td>
                    <td th:text="${room.player1.fullName}">Owner</td>
                    <td th:text="${room.player2!=null? room.player2.fullName:' '}">Competitor</td>
                    <td><a th:href="@{/game_room/}+${room.id}" th:class="${roomsStatus[stat.index]==true?'':'question-disable'}">Join</a></td>
                    <td th:text="${room.player1Points}">Owner Points</td>
                    <td th:text="${room.player2Points}">Competitor Points</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

